.markdown {
  > * + * {
    margin-top: 1.66em !important;
  }

  > ul,
  > ol {
    margin-top: 1.33em !important;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
    scroll-margin-top: 100px;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4,
  h5 {
    @apply text-lg;
  }

  ol:not([class]),
  ul:not([class]) {
    padding-left: 1.125em;
  }

  ol:not([class]) {
    list-style-type: decimal;

    /* stylelint-disable-next-line selector-max-compound-selectors */
    > li > ol:not([class]) {
      list-style-type: lower-alpha;
    }
  }

  ul:not([class]) {
    list-style-type: '•  ';
  }

  blockquote {
    padding-left: 1.125em;
    border-left: 2px solid currentColor;;
  }
}
