.markdown {
  > * + * {
    margin-top: 1.66em !important;
  }

  ul,
  ol {
    margin-top: 1.33em !important;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  ol:not([class]),
  ul:not([class]) {
    padding-left: 1.125em;
  }

  ol:not([class]) {
    list-style-type: decimal;

    > li > ol:not([class]) {
      list-style-type: lower-alpha;
    }
  }

  ul:not([class]) {
    list-style-type: '•  ';
  }

  blockquote {
    @apply border-l-2 border-current;
    padding-left: 1.125em;
  }
}
