code[class*='language-'],
pre[class*='language-'] {
  --code-color-selection: #263238;
  --code-bg-selection: #cceae7;
  --code-bg: #fafafa;
  --code-color: #263238;
  --code-language-css: #f76d47;
  --code-token-atrule: #7c4dff;
  --code-token-attr-name: #39adb5;
  --code-token-attr-value: #f6a434;
  --code-token-attribute: #f6a434;
  --code-token-boolean: #7c4dff;
  --code-token-builtin: #39adb5;
  --code-token-cdata: #39adb5;
  --code-token-char: #39adb5;
  --code-token-class-name: #6182b8;
  --code-token-class: #39adb5;
  --code-token-comment: #aabfc9;
  --code-token-constant: #7c4dff;
  --code-token-deleted: #e53935;
  --code-token-doctype: #aabfc9;
  --code-token-entity: #e53935;
  --code-token-function: #7c4dff;
  --code-token-hexcode: #f76d47;
  --code-token-id: #7c4dff;
  --code-token-important: #7c4dff;
  --code-token-inserted: #39adb5;
  --code-token-keyword: #7c4dff;
  --code-token-number: #f76d47;
  --code-token-operator: #39adb5;
  --code-token-prolog: #aabfc9;
  --code-token-property: #39adb5;
  --code-token-pseudo-class: #f6a434;
  --code-token-pseudo-element: #f6a434;
  --code-token-punctuation: #39adb5;
  --code-token-regex: #6182b8;
  --code-token-selector: #e53935;
  --code-token-string: #f6a434;
  --code-token-symbol: #7c4dff;
  --code-token-tag: #e53935;
  --code-token-unit: #f76d47;
  --code-token-url: #e53935;
  --code-token-variable: #e53935;

  --color-rgb: 100;
  overflow: hidden;
  font-family: monospace;
  font-size: 0.875em;
  hyphens: none;
  line-height: 1.5em;
  color: var(--code-color);
  text-align: left;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  white-space: pre;

  background-color: rgba(var(--color-rgb), var(--color-rgb), var(--color-rgb), 0.05);
  border-radius: 0.25em;
  word-spacing: normal;

  &,
  * {
    transition-timing-function: var(--ease-out-expo);
    transition-duration: 0.6s;
    transition-property: color, background-color;
  }

  html.dark & {
    --code-color-selection: #eee;
    --code-bg-selection: #363636;
    --code-bg: #2f2f2f;
    --code-color: #eee;
    --code-language-css: #fd9170;
    --code-token-atrule: #c792ea;
    --code-token-attr-name: #ffcb6b;
    --code-token-attr-value: #a5e844;
    --code-token-attribute: #a5e844;
    --code-token-boolean: #c792ea;
    --code-token-builtin: #ffcb6b;
    --code-token-cdata: #80cbc4;
    --code-token-char: #80cbc4;
    --code-token-class-name: #f2ff00;
    --code-token-class: #ffcb6b;
    --code-token-comment: #616161;
    --code-token-constant: #c792ea;
    --code-token-deleted: #ff6666;
    --code-token-doctype: #616161;
    --code-token-entity: #ff6666;
    --code-token-function: #c792ea;
    --code-token-hexcode: #f2ff00;
    --code-token-id: #c792ea;
    --code-token-important: #c792ea;
    --code-token-inserted: #80cbc4;
    --code-token-keyword: #c792ea;
    --code-token-number: #fd9170;
    --code-token-operator: #89ddff;
    --code-token-prolog: #616161;
    --code-token-property: #80cbc4;
    --code-token-pseudo-class: #a5e844;
    --code-token-pseudo-element: #a5e844;
    --code-token-punctuation: #89ddff;
    --code-token-regex: #f2ff00;
    --code-token-selector: #ff6666;
    --code-token-string: #a5e844;
    --code-token-symbol: #c792ea;
    --code-token-tag: #ff6666;
    --code-token-unit: #fd9170;
    --code-token-url: #ff6666;
    --code-token-variable: #ff6666;
  }
}

code[class*='language-']::-moz-selection,
pre[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
pre[class*='language-'] ::-moz-selection {
  background: var(--code-bg-selection);
}

code[class*='language-']::selection,
pre[class*='language-']::selection,
code[class*='language-'] ::selection,
pre[class*='language-'] ::selection {
  background: var(--code-bg-selection);
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  white-space: normal;
  border-radius: 0.2em;
}

pre[class*='language-'] {
  position: relative;
  margin: 0.5em 0;
  padding: 1.25em 1em;
  overflow: auto;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
  color: var(--code-language-css);
}

[class*='language-'] .namespace {
  opacity: 0.7;
}

.token.atrule {
  color: var(--code-token-atrule);
}

.token.attr-name {
  color: var(--code-token-attr-name);
}

.token.attr-value {
  color: var(--code-token-attr-value);
}

.token.attribute {
  color: var(--code-token-attribute);
}

.token.boolean {
  color: var(--code-token-boolean);
}

.token.builtin {
  color: var(--code-token-builtin);
}

.token.cdata {
  color: var(--code-token-cdata);
}

.token.char {
  color: var(--code-token-char);
}

.token.class {
  color: var(--code-token-class);
}

.token.class-name {
  color: var(--code-token-class-name);
}

.token.comment {
  color: var(--code-token-comment);
}

.token.constant {
  color: var(--code-token-constant);
}

.token.deleted {
  color: var(--code-token-deleted);
}

.token.doctype {
  color: var(--code-token-doctype);
}

.token.entity {
  color: var(--code-token-entity);
}

.token.function {
  color: var(--code-token-function);
}

.token.hexcode {
  color: var(--code-token-hexcode);
}

.token.id {
  font-weight: bold;
  color: var(--code-token-id);
}

.token.important {
  font-weight: bold;
  color: var(--code-token-important);
}

.token.inserted {
  color: var(--code-token-inserted);
}

.token.keyword {
  color: var(--code-token-keyword);
}

.token.number {
  color: var(--code-token-number);
}

.token.operator {
  color: var(--code-token-operator);
}

.token.prolog {
  color: var(--code-token-prolog);
}

.token.property {
  color: var(--code-token-property);
}

.token.pseudo-class {
  color: var(--code-token-pseudo-class);
}

.token.pseudo-element {
  color: var(--code-token-pseudo-element);
}

.token.punctuation {
  color: var(--code-token-punctuation);
}

.token.regex {
  color: var(--code-token-regex);
}

.token.selector {
  color: var(--code-token-selector);
}

.token.string {
  color: var(--code-token-string);
}

.token.symbol {
  color: var(--code-token-symbol);
}

.token.tag {
  color: var(--code-token-tag) 66;
}

.token.unit {
  color: var(--code-token-unit) 0;
}

.token.url {
  color: var(--code-token-url) 66;
}

.token.variable {
  color: var(--code-token-variable);
}
